/*Declaration of Variables*/
*:root {
    --default-color : #2E2F42;
    --secondary-color: #FFFFFF;
    --third-color:#4D5AE5;
    --fouth-color: #F4F4FD;
    --fifth-color:#E7E9FC;
    --sixth-color:#404BBF;
    --seventh-color:#434455;
    --theme-color: #2E2F42;
}

/* default */
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;}
.list { list-style: none; padding: 0; margin: 0;}

/* body */
body {
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    color: var(--default-color,#2E2F42);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Classes */
.logo {
    color: inherit;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-colored {
    color: var(--third-color);
}
.logo, 
.nav, 
.contact {
    text-decoration: none;
    line-height: 1.2;
    cursor: pointer;
}
.menu-nav {
    margin-left: 76px;
}
.nav{
    color: var(--default-color);
    display: block;
    padding: 25px 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.contact{
    color: var(--default-color);
    display: block;
    padding: 25px 0;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.hero-image {
    background-color: var(--theme-color);
    color: var(--secondary-color);
}
.hero-top-banner{
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-align: center;

    display: flex;
    flex-direction: column;
}
.feat-title, .card-title {
    text-align: center;
}
.feat-desc {
    color:var(--seventh-color);
    line-height: 24px;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.btn-primary,
.filter-btn{
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid var(--fifth-color);
    border: 0;
}
.btn-primary{
    color: var(--secondary-color);
    background-color: var(--third-color);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.filter-btn{
    color: var(--third-color);
    background-color: var(--fouth-color);
    border: 1px solid var(--fifth-color);

    padding: 12px 24px;
}
.card-text{
    margin-top: 8px;
    color:var(--seventh-color);
}
.section-team{
    background-color: var(--fouth-color);
}
.footer{
    background-color: var(--theme-color);
    color: var(--secondary-color);
}

/* pseudo-elements */
.menu-nav .nav:focus,
.menu-nav .nav:hover{
    color: var(--sixth-color);
}
.menu-contact .contact:hover,
.menu-contact .contact:focus,
.menu-nav .nav.active{
    color: var(--sixth-color);
}
.btn-primary:hover,
.filters .filter-btn:hover{
    color: var(--secondary-color, #FFFFFF);
    background-color: var(--sixth-color, #404BBF);
    cursor: pointer;
}
.btn-primary:focus,
.filters .filter-btn:focus{
    color: var(--secondary-color, #FFFFFF);
    background-color: var(--third-color);
}
.filters .filter-btn.active {
    color: var(--secondary-color);
    background-color: var(--third-color);
}

/* container, alignment and resizing */
.centered-list {
    margin: 0 auto;
}
.container {
    width: 1200px;
    padding: 0 21px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid var(--fifth-color);
}
.menu-nav,
.menu-contact {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.unstyle-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-nav {
    margin-left: 76px;
}
.container-header {
    display: flex;
    justify-content: space-between;
}
.btn-primary {
    margin-top: 48px;
}
.hero-image {
    padding: 188px 0;
    text-align: center;
}
.section{
    padding: 120px 0;
}
.feature-section {
    display: flex;
    gap: 22px;
}
.feature-list:first-child {
    margin-left: 0;
}
.feature-section > .feature-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.section-attached{
    padding-top: 0;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 72px;
}
.card > .card-list {
    margin-left: 24px;
}
.team-card {
    margin-top: 72px;
    display: flex;
    gap: 24px;
}
.card-content{
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--secondary-color, #FFF);
    box-shadow: 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 32px 0;
}
.card-text {
    text-align: center;
    margin-top: 8px;
}
.container-category{
    text-align: center;
}
.filters {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 70px;
}
.project-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.proj-cardwrap {
    padding: 32px 16px;
    border-top: 0;
    text-align: left;
    border: 1px solid var(--fifth-color);
    background: var(--secondary-color);
}
.footer {
    padding: 100px 0;
}
.footer-text {
    margin-top: 18px;
}